* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}
h2 {
    color: #4D869C;
}

.header {
    text-align: center;
    background-color: #7AB2B2;
    padding: 12px;
}

.header>h1 {
    color: white;
}

.searchBox,
.searchBox>form {
    padding: 10px;
}

.searchBox>form>input {
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    border-width: 1px;

}

.sectionContainer {
    padding: 20px;
}

.container>h2 {
    padding-bottom: 10px;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.divButton {
    display: flex;
}

.containerList {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 12px;
}

.tableHeader>th {
    padding: 10px;
    border: 1px solid black;
}

.table {
    width: 100%;
}

.tableRow {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}

.col5>button {
    margin-right: 10px;
}

.tableData {
    padding: 10px;
    border: 1px solid black;
}

.buttonAddBook {
    align-items: center;
    justify-content: center;
    display: flex;
}

.col1 {
    width: 5%;
}

.col2,
.col3,
.col4 {
    width: 20%;
}

.col5 {
    width: 25%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-container {
    justify-content: space-between;
}

.form-content * {
    margin: 10px;
}

.bookFound {
    padding: 10px;
}

.displayBookContainer {
    display: flex;
    padding: 10px;
}

/* The alert message box */
.alert {
    background-color: green;
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.button {
    background-color: #4D869C;
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}